<!DOCTYPE html>
<html>
  <head>
    <title>Liam Barstad</title>
    <link rel='shortcut icon' type='image/png' href='/api/v1/images/single-particle.png'></link>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style='margin: 0px;'>
    <%= yield %>
  </body>
</html>
